<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ScoreMapper">

    <sql id="Base_Column_List">
        id,img,name,content,type,price,video,file,recommend,time
    </sql>

    <select id="selectAll" resultType="com.example.entity.Score">
        select
        <include refid="Base_Column_List" />
        from score
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="recommend != null"> and recommend = #{recommend}</if>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Score">
        select
        <include refid="Base_Column_List" />
        from score
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from score
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Score" useGeneratedKeys="true">
        insert into score
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="img != null">img,</if>
                <if test="name != null">name,</if>
                <if test="content != null">content,</if>
                <if test="type != null">type,</if>
                <if test="price != null">price,</if>
                <if test="video != null">video,</if>
                <if test="file != null">file,</if>
                <if test="recommend != null">recommend,</if>
                <if test="time != null">time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="img != null">#{img},</if>
                <if test="name != null">#{name},</if>
                <if test="content != null">#{content},</if>
                <if test="type != null">#{type},</if>
                <if test="price != null">#{price},</if>
                <if test="video != null">#{video},</if>
                <if test="file != null">#{file},</if>
                <if test="recommend != null">#{recommend},</if>
                <if test="time != null">#{time},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Score">
        update score
        <set>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="video != null">
                video = #{video},
            </if>
            <if test="file != null">
                file = #{file},
            </if>
            <if test="recommend != null">
                recommend = #{recommend},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>