<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ScoreorderMapper">

    <sql id="Base_Column_List">
        id,score_id,score,order_id,time,user_id
    </sql>

    <select id="selectAll" resultType="com.example.entity.Scoreorder">
        select scoreorder.*, score.img as scoreImg, score.name as scoreName, user.name as userName
        from scoreorder
        left join score on scoreorder.score_id = score.id
        left join user on scoreorder.user_id = user.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="orderId != null"> and order_id = #{orderId}</if>
            <if test="scoreId != null"> and score_id = #{scoreId}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Scoreorder">
        select
        <include refid="Base_Column_List" />
        from scoreorder
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from scoreorder
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Scoreorder" useGeneratedKeys="true">
        insert into scoreorder
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="scoreId != null">score_id,</if>
                <if test="score != null">score,</if>
                <if test="orderId != null">order_id,</if>
                <if test="time != null">time,</if>
                <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="scoreId != null">#{scoreId},</if>
                <if test="score != null">#{score},</if>
                <if test="orderId != null">#{orderId},</if>
                <if test="time != null">#{time},</if>
                <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Scoreorder">
        update scoreorder
        <set>
            <if test="scoreId != null">
                score_id = #{scoreId},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>